
$main-txt-color: #ffffff;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    background-color: black;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $main-txt-color;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-size: 24px;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px;
    max-width: 80%;
}

.logo{
    margin-left: 8%;
}

.navbar{
    align-items: flex-start;
    flex-grow: 0.9;
}

nav ul{
    list-style-type: none;
    display: flex;
}

ul li{
    padding: 28px;
}

li a{   
    text-decoration: none;
    color: $main-txt-color;
    line-height: 22px;
    letter-spacing: 0px;
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

li a:hover{
    font-size: 18px;
}

/*Main*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 10%;
    padding-top: 2%;
   
}

/*Text Section*/
h1{
    color: $main-txt-color;
    line-height: 102px;
    letter-spacing: -2px;
    font-size: 84px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.textarea{
    flex: 1;
    max-width: 21%;
}

.main-text{
    font-size: 22px;
    color: $main-txt-color;
    line-height: 34px;
    letter-spacing: 0px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
}
/*Image Section*/
.image{
    flex: 1;
    text-align: right;
}

.image img{
    max-width: 70%;
    height: auto;
    object-fit: cover;
}

/*Responsiveness*/

@media screen and (max-width: 1200px){
    .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .header{
        padding: 20px;
    }
    .navbar{
        flex-grow: 0.1;
        align-items: flex-end;
    }
    nav ul{
        display: inline-block;
        text-align: center;
        padding: 0;
        list-style-type: none;
        display: flex;
    }
    ul li{
        padding: 10px;
        float: none;
    }
    h1{
        font-size: 72px;
        line-height: 82px;
        letter-spacing: -1.6px;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .main-text{
        font-size: 22px;
        line-height: 33px;
    }
    .image{
        margin-top: 20px;
    }
    .image img{
        width: 70%;
        height: 30%;
        max-height: 30vh; 
    }
}


@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .header{
        padding: 20px;
    }
    nav ul{
        display: inline-block;
        text-align: center;
        padding: 0;
        list-style-type: none;
        display: flex;
    }
    ul li{
        padding: 10px;
        float: none;
    }
    h1{
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.8px;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .main-text{
        font-size: 12px;
        line-height: 18px;
    }
    .image{
        margin-top: 20px;
    }
    .image img{
        width: 50%;
        height: 50%;
        max-height: 30vh; 
    }
}


